*
{
    box-sizing: border-box;
}
#chess
 {
     display: flex;
     
     
     border: 1px solid black;
     transition: 5s;
 }

 #title
 {
     display: flex;
     width: 100%;
    justify-content: center;
     border: 1px solid black;
     transition: 5s;
 }

 #outertitle
 {
     display: flex;
     
    justify-content: center;
     
     transition: 5s;
 }


 #outer
 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
 }

 #chess div
 {
      height: 9vw;
     width: 9vw;
     border: 0.5px solid blue;
 }

 img
 {
    height: 8vw;
    width: 8vw;
    
 }

@media only screen and (min-width: 768px){
  img{
    height: 7vh;
    width: 7vh;
  }
  #chess div
 {
      height: 8vh;
     width: 8vh;
     border: 0.5px solid blue;
 }
  
}
