*
{
    box-sizing: border-box;
}
#chess
 {
     display: flex;
     height: 560px;
     width: 640px;
     border: 1px solid black;
     transition: 5s;
 }

 #title
 {
     display: flex;
     width: 640px;
    justify-content: center;
     border: 1px solid black;
     transition: 5s;
 }

 #outertitle
 {
     display: flex;
     
    justify-content: center;
     
     transition: 5s;
 }


 #outer
 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
 }

 #chess div
 {
     height: 70px;
     width:80px;
     border: 0.5px solid black;
     
 }

 img
 {
    height: 60px;
    width: 70px;
    
 }

